@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  margin: 0;
}

.images-container {
  max-width: 1200px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.image {
  width: 100%;
  height: 20rem;
  cursor: pointer;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.header,.footer{
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  color: white;
  padding: 15px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.header h3{
  font-weight: 300;
  font-size: 0.8em;
}

h2{
  font-style: italic;
  font-weight: 200;
  margin-top: 0;
}

h1{
  margin-bottom: 10px;
  margin-top: 10px;
}

h3 img{
  vertical-align: middle;
}
